src/.vs/
src/Pokedex/Pokedex.Api.xml
src/Pokedex/Pokedex.xml
src/Pokedex/Pokedex.Api.csproj.user
src/Pokedex.Contract/bin/
src/Pokedex.Contract/obj/
src/Pokedex/bin/
src/Pokedex/obj/
src/Pokedex.Api.UnitTests/bin/
src/Pokedex.Api.UnitTests/obj/
src/Pokedex.Api.IntegrationTests/bin/
src/Pokedex.Api.IntegrationTests/obj/
